[package]
name = "cosmic-greeter"
version = "0.1.0"
edition = "2021"

[dependencies]
chrono = "0.4.31"
cosmic-bg-config.workspace = true
cosmic-config = { workspace = true, features = ["calloop", "macro"] }
cosmic-greeter-daemon = { path = "daemon" }
env_logger.workspace = true
freedesktop_entry_parser = "1.3.0"
libcosmic = { workspace = true, features = ["tokio", "wayland"] }
log.workspace = true
pam-client = "0.5.0"
pwd.workspace = true
ron.workspace = true
shlex = "1.2.0"
xdg = "2.5.2"
#TODO: reduce features
tokio = { workspace = true, features = ["full"] }
wayland-client = "0.31.2"
# For network status using networkmanager feature
cosmic-dbus-networkmanager = { git = "https://github.com/pop-os/dbus-settings-bindings", rev = "badfc6a", optional = true }
# For logind integration using logind feature
logind-zbus = { version = "4", optional = true }
# Fix zbus compilation by manually adding nix with user feature
nix = { workspace = true, optional = true }
# For power status with upower feature
upower_dbus = { git = "https://github.com/pop-os/dbus-settings-bindings", rev = "badfc6a", optional = true }
# Required for some features
zbus = { workspace = true, optional = true }
# Internationalization
i18n-embed = { version = "0.14", features = ["fluent-system", "desktop-requester"] }
i18n-embed-fl = "0.7"
rust-embed = "8"

[dependencies.greetd_ipc]
version = "0.10.0"
features = ["sync-codec"]

[features]
default = ["logind", "networkmanager", "upower"]
logind = ["logind-zbus", "zbus"]
networkmanager = ["cosmic-dbus-networkmanager", "zbus"]
upower = ["upower_dbus", "zbus"]
zbus = ["dep:zbus", "nix"]

[workspace]
members = ["daemon"]

[workspace.dependencies]
env_logger = "0.10.0"
log = "0.4.20"
# Fix zbus compilation by manually adding nix with user feature
nix = { version = "0.26", features = ["user"] }
pwd = "1.4.0"
ron = "0.8"
serde = "1"
tokio = "1.33.0"
zbus = "4"

[workspace.dependencies.cosmic-bg-config]
git = "https://github.com/pop-os/cosmic-bg"
default-features = false

[workspace.dependencies.cosmic-config]
git = "https://github.com/pop-os/libcosmic"
default-features = false

[workspace.dependencies.cosmic-theme]
git = "https://github.com/pop-os/libcosmic"
default-features = false

[workspace.dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic"
default-features = false
